<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/error.css">

    <title>Error</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1 class="text">
                    Error
                </h1>
            </div>

            <div class="card-body">
                <h2 class="text">
                    An error occurred. Please try again
                </h2>
            </div>
        </div>
    </div>
</body>
</html>