<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/mainPage.css">

    <title>To Do List - Main</title>
</head>
<body>
    <h1 id="titleOfMain" class="text">To Do List - Main</h1>

    <hr id="separator">

    <div class="container">
        <form action="/editList" method="post" autocomplete="off">
            <% for (let task of tasks) { %>
                <div class="form-horizontal">
                    <input type="text" name="description<%= task._id %>" value="<%= task.description %>">

                    <label class="text">Edit:</label>
                    <input name="editTask<%= task._id %>" type="radio" value="edit">

                    <label class="text">Delete:</label>
                    <input name="editTask<%= task._id %>" type="radio" value="delete">
                </div>
            <% } %>

            <br>
            <br>

            <input class="btn btn-secondary" type="submit" value="Implement Edits">
        </form>

        <br>

        <form class="flexContainer" action="/addTask" method="post" autocomplete="off">
            <div class="container form-group">
                <label class="text control-label" for="newTaskText">New Task:&nbsp;</label>
                <input id="newTaskInputField" class="inputField" name="newTaskText" type="text" placeholder="Type new task" required>
                <input class="btn-sm btn-success" type="submit" value="Add">
            </div>
        </form>

        <form action="/logout" method="get">
            <input class="btn btn-warning" type="submit" value="Log out">
        </form>
    </div>
</body>
</html>
