<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/mainPage.css">

    <title>To Do List - Main</title>
</head>
<body>
    <h1 id="titleOfMain" class="text">To Do List - <%= username %></h1>

    <hr id="separator">

    <div id="mainDiv" class="container">
        <div class="whiteBordered">
            <form action="/editList" method="post" autocomplete="off">
                <h1 class="text title">
                    To-Do List:
                </h1>

                <br>
                <br>

                <% for (let task of tasks) { %>
                    <div class="form-horizontal">
                        <input class="form-control" type="text" name="description<%= task._id %>" value="<%= task.description %>">

                        <label class="text">Edit:</label>
                        <input name="task<%= task._id %>" type="radio" value="edit">

                        <label class="text">Delete:</label>
                        <input name="task<%= task._id %>" type="radio" value="delete">
                    </div>
                <% } %>

                <br>

                <input class="btn btn-secondary" type="submit" value="Implement Edits">
            </form>
        </div>

        <br>

        <div class="whiteBordered">
            <form action="/addTask" method="post" autocomplete="off">
                <h1 class="text title">
                    Add New Task:
                </h1>

                <br>
                <br>

                <div class="form-group">
                    <input class="form-control" name="newTaskText" type="text" placeholder="Type new task" required>

                    <br>

                    <input class="btn btn-success" type="submit" value="Add">
                </div>
            </form>
        </div>

        <br>
        <br>

        <div>
            <div class="whiteBordered">
                <h1 class="text title">
                    Settings:
                </h1>

                <br>
                <br>

                <form class="lowerButtons" action="/logout" method="get">
                    <input class="btn btn-warning" type="submit" value="Log out">
                </form>

                <form class="lowerButtons" action="/deleteUser" method="post">
                    <input class="btn btn-danger" type="submit" value="Delete Account">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
