<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/signup.css">

    <title>To Do List - Sign Up</title>
</head>
<body>
    <h1 id="titleOfSignup">To Do List - Sign up</h1>

    <hr id="separator">

    <div class="form-control">
        <form action="/signup" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input class="form-control" name="username" type="text" placeholder="Enter Username">
            </div>

            <br>

            <div class="form-group">
                <label for="password">Password:</label>
                <input class="form-control" name="password" type="password" placeholder="Enter Password">

                <label for="passwordReenter">Re-enter Password:</label>
                <input class="form-control" name="passwordReenter" type="password" placeholder="Re-enter Password">
            </div>

            <br>

            <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-control" name="email" type="email" placeholder="Enter email">
            </div>

            <br>

            <input class="btn btn-primary" type="submit" value="Sign Up">
        </form>
    </div>
</body>
</html>
