<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/title.css">

    <title>To Do List - Title Page</title>
</head>
<body>
    <div id="main">
        <div id="title">
            <h1>To Do List</h1>
        </div>
    </div>

    <div id="buttons" class="btn-group">
        <a class="btn btn-success" type="button" href="login">Login</a>
        <a class="btn btn-success" type="button" href="signup">Sign Up</a>
    </div>
</body>
</html>
