body {
    background-color: cornflowerblue;
}

.floatLeft {
    float: left;
}

.text {
    color: white;
}

.title {
    text-decoration: underline;
}

.taskItem {
    background-color: white;
}

.flexContainer {
    display: flex;
}

.inputField {
    flex: 1;
    border-radius: 0.3em;
}

#newTaskInputField {
    width: 85%;
    height: 90%;
}

.buttons {
    float: right;
}

#separator {
    background-color: black;
}

#titleOfMain {
    text-align: center;
}

.lowerButtons {
    display: inline-block;
}

.whiteBordered {
    border: 0.05em solid white;
    padding: 1% 5% 1% 5%;
}

#mainDiv {
    margin-bottom: 1%;
}
