body {
    background-color: cornflowerblue;
}

#titleOfSignup {
    text-align: center;
}

#separator {
    background-color: black;
}

.prompt {
    color: white;
}

.errorText {
    color: rgb(175, 31, 0);
    font-weight: bolder;
}
