body {
    background-color: cornflowerblue;
}

.flex {
    display: flex;
}

#title {
    background-color: white;
    text-align: center;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

#buttons {
    margin-top: 30%;
    justify-content: center;
}
